* {margin: 0px; padding: 0px;} 
html,body { padding: 0; margin: 0; font: normal "Helvetica Neue", Helvetica, Arial, sans-serif; height: 100%;}

#main {text-align: center; height: 100%;}
#main img {margin: auto; cursor: pointer; margin: 10px 30px; max-width: 30%;}
#main img:hover {box-shadow: 0 0 5px #bbb;} 

#main #buttons {text-align: center; position: absolute; bottom: 0; left: 0; right: 0;}
#main #buttons .button {display: inline-block; margin: 10px; padding: 20px; border-radius: 50%; font-size: 32px; height: 32px; width: 32px; line-height: 32px; cursor: pointer;}
#main #buttons #test {background: #9f9;}
#main #buttons #back {background: #f99;}
#main #buttons #repeat {background: #99f;}

#main #wrapper {height: 100%; display: grid;}
#main #result {margin: auto; font-size: 150px;}
#main #result[errors="0"]::before {content: '\263a'; color: green;}
#main #result:not([errors="0"])::before {content: attr(errors) '\2639'; color: #f99;}
 
